<div class="container">
   
    <div class="row ">
      <div class="col-md-12">
        <app-search-form (getName)='findUser($event)'></app-search-form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="table table-striped table-bordered">
          <h3> {{users.name}}</h3>
          <table class="table table-striped table-light">
            <tbody>
            <tr>
              <th scope="row">Github Username:</th>
                <td> <a href="{{users.html_url}}" target="_blank">{{users.login}}</a></td>
  
            </tr>
            <tr>
              <th scope="row">Repositories:</th>
              <td>{{users.public_repos }}</td>
            </tr>
            <tr>
              <th scope="row">Date created:</th>
              <td>{{users.created_at | date}}</td>
            </tr>
            <tr>
              <th scope="row">Followers:</th>
              <td>{{users.followers}}</td>
            </tr>
            <tr>
              <th scope="row">Following</th>
              <td>{{users.following}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-5 image-end">
        <img src="{{users.avatar_url}}">
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div  class="col-md-12">
        <h2 style="color: #056b5b" > User Repositories</h2>
        <div class="table table-striped">
        </div>
      </div>
    </div>
  </div>
  <a href="{{users.html_url}}" target="_blank" class="list-group-item list-group-item-action active"><button>View the User Profile</button>
  </a>
  <div class="footer">
    <hr>
    <p class="para"><b>kamu@gmail.com</b></p>
  </div>
