.container{
    margin-top: 5rem;
}
p {
    text-indent: 2rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.btn{
    margin-top: 30px;
    background-color: #056b5b;
}

.seeMorebtn{
    text-align: center;
}
.display{
    float: left;
    margin-bottom: 0.28rem;
}


.search-form p {
    font-size: 29px;
    margin: 0;
    justify-content: left;
    align-items: left;
}
